<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro">Experiencia profesional y formación académica</h2>
    <!-- <h3 class="seccion-descripcion">Estos son los trabajos en los que he ido desarrollando mi carrera</h3> -->
    <!-- Galeria de Proyectos -->
    <div class="container text-center proyectos-contenedor">
      <div class="row">
        <mat-tab-group animationDuration="2000ms">
          <mat-tab label="Experiencia laboral">
            <section class="experiencia seccion-clara">
              <div>
                <h3 class="d-flex justify-content-left">Desarrollador fullstack junior | Magna Cosma </h3> 
                <h4 class="d-flex justify-content-left">Febrero 2024 - Agosto 2024</h4>
                <p class="seccion-texto">
                  Experiencia en el desarrollo de aplicaciones web que mejoran la eficiencia operativa de 
                  distintos departamentos. Implemento soluciones utilizando .NET y Entity Framework Core para 
                  crear APIs RESTful, que gestionan bases de datos SQL mediante operaciones CRUD. En el frontend, 
                  desarrollo interfaces de usuario interactivas y responsivas con Angular, Typescript, HTML, CSS y 
                  Bootstrap, asegurando una experiencia intuitiva y validaciones adecuadas.
                </p>
                <h5>Proyectos</h5>
                <p class="seccion-texto"><b>Sistema de tickets de incidentes:</b> Desarrollo de una solución para gestionar incidentes en el área productiva de una planta.</p>
                <p class="seccion-texto"><b>Sistema de gestión de Schedule agreements:</b>Automatización del seguimiento y gestión de los SA.</p>
                <p class="seccion-texto"><b>Dashboards en Power BI:</b>Creación de visualizaciones interactivas para toma de decisiones basadas en datos.</p>
                <p class="seccion-texto"><b>Experiencia con herramientas de Microsoft Office:</b>Word, Excel, PowerPoint, Power BI, Teams, y Outlook.</p>
                <p>
                  <img src="assets/imagenes/angular.png" class="tecnologia-img">
                  <img src="assets/imagenes/html.png" class="tecnologia-img">
                  <img src="assets/imagenes/css.png" class="tecnologia-img">
                  <img src="assets/imagenes/type.png" class="tecnologia-img">
                  <img src="assets/imagenes/bootstrap.png" class="tecnologia-img">
                  <img src="assets/imagenes/sql.png" class="tecnologia-img">
                  <img src="assets/imagenes/net.png" class="tecnologia-img">
                  <img src="assets/imagenes/postman.png" class="tecnologia-img">
                  <img src="assets/imagenes/office.png" class="tecnologia-img">
                  <img src="assets/imagenes/bi.png" class="tecnologia-img">
                </p>
              </div>
            </section>
            <section class="sobre-mi seccion-oscura">
              <div>
                <h3 class="d-flex justify-content-left">Auxiliar de facturación electrónica SAP FI | Continental Contitech </h3> 
                <h4 class="d-flex justify-content-left">Enero 2023 - Enero 2024</h4>
                <p class="seccion-texto">
                  Asegurar el proceso de facturación electrónica para cinco plantas operativas para facturas y complementos de pago emitidos 
                  utilizando SAP FI y software para modificación de XML, 
                  además de dar soporte a usuarios internos a través de un sistema de tickets.
                </p>
                <p>
                  <img src="assets/imagenes/sap.png" class="tecnologia-img">
                  <img src="assets/imagenes/office.png" class="tecnologia-img">
                </p>
              </div>
            </section>
            <section class="sobre-mi seccion-clara">
              <div>
                <h3 class="d-flex justify-content-left">Instructor de Office | Servicio social | CECATI No. 98 </h3> 
                <h4 class="d-flex justify-content-left">Septiembre 2017 - Mayo 2018</h4>
                <p class="seccion-texto">
                  Impartir clases de Microsoft Office basicas sobre Word, Power Point y Excel
                  a los estudiantes además de ayudar con el soporte y mantenimiento a los equipos de computo de la institución.
                </p>
                <p>
                  <img src="assets/imagenes/office.png" class="tecnologia-img">
                </p>
              </div>
            </section>
          </mat-tab>
          <mat-tab label="Formación académica">
            <section class="experiencia seccion-clara">
              <div>
                <h3 class="d-flex justify-content-center">Ingeniería en tecnologías de la información</h3> 
                <h4 class="d-flex justify-content-center">Universidad Politécnica de San Luis Potosí</h4>
                <p class="seccion-texto">
                  Durante mi estancia en la universidad he desarrollado mi gusto por el desarrollo de software, aprendiendo diversos
                  lenguajes de programación, bases de datos, conociendo algunas metodologías agiles como SCRUM.
                  He ido adquiriendo distintas cerfitificaciones y mejorarando mi nivel de inglés en cada semestre.
                </p>
                <p class="seccion-texto">
                  <b>Promedio general: </b> 8.06
                </p>
                <p>
                  <img src="assets/imagenes/html.png" class="tecnologia-img">
                  <img src="assets/imagenes/css.png" class="tecnologia-img">
                  <img src="assets/imagenes/c.png" class="tecnologia-img">
                  <img src="assets/imagenes/java.png" class="tecnologia-img">
                  <img src="assets/imagenes/php.png" class="tecnologia-img">
                  <img src="assets/imagenes/sql.png" class="tecnologia-img">
                  <img src="assets/imagenes/maria.png" class="tecnologia-img">
                  <img src="assets/imagenes/office.png" class="tecnologia-img">
                </p>
              </div>
              <div>
                <h3 class="d-flex justify-content-center">Técnico en programación</h3> 
                <h4 class="d-flex justify-content-center">Centro de bachillerato tecnológico industrial y de servicios no. 46</h4>
                <p class="seccion-texto">
                  En la preparatoria conoci las bases de la programación y desarrolle mi lógica para programar, algo que me ha servido mucho en la universidad.
                </p>
                <p class="seccion-texto">
                  <b>Promedio general: </b> 8.7
                </p>
                  <img src="assets/imagenes/html.png" class="tecnologia-img">
                  <img src="assets/imagenes/c.png" class="tecnologia-img">
                  <img src="assets/imagenes/sql.png" class="tecnologia-img">
              </div>  
            </section>
          </mat-tab>
          <mat-tab label="Certificaciones">
            <!-- Articulos -->
    <section class="articulos justify-content-start">
      <h2 class="seccion-titulo texto-negro">Certificaciones</h2>
      <div class="card">
        <div class="card-header">
          Más recientes
        </div>
        <ul class="list-group list-group-flush">
          <a href="assets/c++.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Programming Essentials in C++ | Cisco | 2023
            </li>
          </a>
          <a href="assets/python.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item"> 
              Programming Essentials in Python | Cisco | 2023
            </li>
          </a>
          <a href="assets/entrepreneurship.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Entrepreneurship | Cisco | 2021
            </li>
          </a>
          <a href="assets/c.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Programming Essentials in C | Cisco | 2020
            </li>
          </a>
          <a href="assets/word.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Microsoft Office Word 2016 | Microsoft | 2018
            </li>
          </a>
          <a href="assets/pp.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Microsoft Office Power Point 2016 | Microsoft | 2018
            </li>
          </a>
          <a href="assets/excel.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Microsoft Office Excel 2016 | Microsoft | 2018
            </li>
          </a>
          <a href="assets/foro.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Foro de TI | 2021
            </li>
          </a>
          <a href="assets/getconnected.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Get Connected | Cisco | 2018
            </li>
          </a>
          <a href="assets/internet.pdf" target="_blank" rel="noopener noreferrer">
            <li class="list-group-item">
              Introducción a Internet de todo | Cisco | 2018
            </li>
          </a>
        </ul>
      </div>
    </section>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <a href="assets/CV_NoeLandaverdeSolis.pdf" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-info">
        Revisa mi CV
        <i class="bi bi-filetype-pdf"></i>
      </button>
    </a>
</section>