<!-- Pie de pagina (footer) -->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center"> 
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
      <a href="https://github.com/noesolis17" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/noé-solís1799" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <div class="derechos-de-autor">Creado por Noé Landaverde Solís® 2024</div>
  </footer>