footer {
    min-height: fill;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }

  .seccion-oscura {
    color: white;
    background-color: #1b1b32;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: rgb(255, 255, 255);
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }
  
  /* Adaptable (Responsivo) */
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
  
    .testimonio-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }